<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
</head>

<!--Some bootstrap visuals-->
<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
<link rel="stylesheet" href="/stylesheets/creative.css" />

<body>
<nav class="navbar navbar-inverse">
    <a href="/" class="navbar-brand">Vinyl Shops</a>
</nav>
