<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
</head>

<!--Some bootstrap visuals-->
<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

<body>
<nav class="navbar navbar-inverse">
    <a href="/" class="navbar-brand">Vinyl Directory</a>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/shops">Local Sellers</a></li>
    </ul>
</nav>
