<%include partials/header %>

<div class="jumbotron">
  <h1><%= title %></h1>
  <p>This website will be a directory of local vinyl shops. It is a work in progress, stay tuned for updates!</p>
</div>

<%include partials/footer %>
